---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

img {
    display: block;
    margin: 0 auto;
}

* {
    text-align: left;
}

.capture {
    border: solid 1px #e0e0e0;
}

#toc ul li {
    margin-bottom: 0;
}

h1 {
    border-top: solid 1px #e0e0e0;
    padding-top: 1ex;
}

h1, h2, h3 {
    margin-top: 1ex;
}

p {
    margin-block-start: 0px;
    margin-block-end: 0.5em;
    margin-bottom: 0.5em !important;
}

